<div class="container">
  <div class="nav-bar-container">
    <div class="title">MLB PICK-A-WINNER</div>
    <% if current_user %>
      <div>
        <%= link_to "dashboard", dashboard_path, class: "button" %>
        <%= link_to "log out", destroy_user_session_path, method: :delete, class: "button" %>
      </div>
    <% else %>
      <div>
        <%= link_to "log in", new_user_session_path, class: "button" %>
        <%= link_to "sign up", new_user_registration_path, class: "button button-primary" %>
      </div>
    <% end %>
  </div>
</div>
