<div class="container">
  You're probably in an MLB pick winners league with Mark Miranda or Mike Hale. 
  Your email address is already in our system and you can just reset your password <%= link_to "here", new_user_password_path %>.<br /></br />
  If not, get outta here.
</div>
