.devise-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.check-box-field {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  & > label {
    padding-left: 5px;
  }
}

.one-half-column {
  display: flex;
  justify-content: center;
}

.devise-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
  padding-right: 10px;
}

.devise-links-row {
  margin-top: 20px;
}
