.winner {
  background: green;
  color: white;
}

.loser {
  background: #d20000;
  color: white;
}

form.new_pick, form.delete_pick {
  display: flex;
  flex-direction: row;
  margin: 0px;

  & > #pick_team_id {
    margin-right: 15px;
  }
}

.select-new-pick {
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  justify-content: space-between;
   & > select {
     margin-right: 10px;
   }
}

.next-days {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.existing_pick {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  & > span {
    margin-right: 15px;
  }
}


td.nowrap {
  white-space: nowrap;
}
